<!DOCTYPE html>
<html lang="en">

<include file="Public/Admin/header.html" />
<body>
<include file="Public/Admin/menu.html" key="forms"/>
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            修改课程
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> 修改课程
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" name="addCourse" action="{:U('courseChange')}" method="post" enctype="multipart/form-data">

                            <div class="form-group">
                                <label>课程编号（必填）不可修改！</label>
                                <input name="id" class="form-control" placeholder="请输入10位教务系统中该课程的课程编号，如未申请，请前往教务处申请" readonly value="{$list['classs_id']}">
                            </div>
                            <div class="form-group">
                                 <label>课程名称（必填）</label>
                                 <input name="name" class="form-control" placeholder="请输入名称：如高等数学" value="{$list['name']}">
                            </div>
                            <div class="form-group">
                                <label>授课老师（必填）</label>
                                <input name="teacher" class="form-control" placeholder="请输入教师名称：如云日天" value="{$list['tea_name']}">
                            </div>
                            <div class="form-group">
                                <label>学分（必填）不可修改！</label>
                                <input name="credit" class="form-control" value="{$list['credit']}" readonly>

                            </div>
                            <div class="form-group">
                                <label>课程推荐入学年份（必填）不可修改！</label>
                                <input name="year" class="form-control" value="{$list['recommend_year']}" readonly>

                            </div>
                            <div class="form-group">
                                <label>课程描述（选填）</label>
                                <textarea name="content" class="form-control" rows="3">{$list['content']}</textarea>
                            </div>
                            <div class="form-group">
                                <label>封面图片（选填）如不修改则不选！</label>
                                <input type="file" name="file"/>
                            </div>
                            <button type="submit" class="btn btn-default" name="submit">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>

                        </form>

                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="__PUBLIC__/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>

</body>

</html>
